@import "../../styles/mixins.scss";
//svg width="850" height="255"
.loader{
  @apply absolute flex justify-center items-center inset-0 bg-grayDark z-20;
  //@include b;
}
.logoContainer {
  @apply w-1/2 flex ;
  justify-content: center;
  padding: 0;
  transform-origin: left;
  transform: scale(1) translate(50%,-10%) rotateY(-15deg);
}
.dynamicDoodlesmithLogoSVG {
}
.bigDLetter{
  fill: white;
  opacity: 0;
}
.dynamicLetter{
  fill: white;
  opacity: 0;
}
.doodlesmithLetter{
  fill: white;
  opacity: 0;
}
.bracket {
  fill: white;
  opacity: 0;
}
#group-ynamic{
  opacity:1;
}
#group-oodlesmith{
  opacity:1;
}