@import "../../styles/mixins.scss";

.post {
  @apply max-w-5xl mx-auto bg-gray;
}

.heroSection {
  @apply relative mt-2 mb-1 h-52 flex items-center justify-center overflow-hidden bg-primary;
}
.heroSection::after {
  content: "";
  @apply absolute w-full h-20 top-0 left-0 bg-gradient-to-b from-layout-primaryMuted  to-transparent mix-blend-multiply;
}
.hero {
  @apply object-cover;
}

.title {
  @apply absolute inline top-1/2 w-4/5 text-5xl font-bold;
  transform: translateY(-50%);
  //@include b(5px,orange);
}
.authorSection {
  @apply h-16 flex flex-col justify-between space-y-4 py-2 md:flex-row md:space-y-0;
}
.authorInfo {
  @apply flex items-center px-8 space-x-2 text-zinc-500 dark:text-zinc-400 md:space-y-0;
}
.hr {
  @apply w-full h-0 pb-1 bg-grayDark;
}
.main {
  @apply mx-auto mt-0 flex flex-col justify-center;
}
.tags {
  @apply flex justify-center items-center text-sm text-gray font-semibold m-1 py-1 px-3;
}
.pageBackArrow {
  @apply mt-4 mr-20 flex justify-start pb-4 md:justify-center md:pb-0 md:pr-0;
}
.tldr {
  @apply w-full text-white py-8 px-24;
}
.articleSection {
  @apply my-0 flex flex-col items-start bg-white p-6 px-24;
  transform-origin: bottom ;
  @at-root {
    .introduction {
      @apply text-3xl;
    }
    .header {
      @apply mt-8 mb-4 text-3xl font-bold underline;
    }
    .articleGrid {
      @apply grid;
      grid-template-columns: 20% 60% 20%;
      
      grid-template-areas:
        "left  main  right ";
    }
    .articlePic1 {
      grid-area: pic1;
      @include b;
    }
    .articlePic2 {
      grid-area: pic2;
      //@include b;
    }
    .section {
      @apply px-4;
    }
    .section1 {
      grid-area: section1;
      @extend .section;
    }
    .section2 {
      grid-area: section2;
      @extend .section;
    }
  }
}

.classificationButton {
  @apply my-4 p-3 rounded-full border-4 font-semibold text-white;
}
.explaination {
  @apply hidden;
}

