@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT THEME */
:root {
  --color-primary: #24368F; 
  --color-primary-muted: #626792;
  --color-primary-dark: #152055;
  --color-secondary: #EB8E00;
}


@layer base {
  
  h2 {
    @apply mb-4 mt-2 text-3xl font-bold leading-tight tracking-tighter text-zinc-700 dark:text-zinc-300;
  }

  h3 {
    @apply mb-4 mt-2 text-xl font-semibold leading-snug tracking-tight text-zinc-700 dark:text-zinc-300;
  }

  p {
    @apply pb-4 leading-relaxed tracking-normal text-zinc-600 last-of-type:pb-0 dark:text-zinc-400;
  }
}
